<app-navbar></app-navbar>
<div class="container mt-3">
    <h2>Cursos</h2>
    <button class="btn btn-primary mb-3" (click)="agregarCurso()">Nuevo Curso</button>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Horario</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursos">
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.horario }}</td>
                <td>{{ curso.fecha_inicio }}</td>
                <td>{{ curso.fecha_fin }}</td>
                <td>{{ curso.tipo }}</td>
                <td>
                    <button class="btn btn-success btn-sm" (click)="editarCurso(curso.id)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="eliminarCurso(curso.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>